{% extends "base.html" %}
{% block titulo %}Medicos{% endblock %}

{% block conteudo %} 


      <legend>Medicos</legend>

        <div class="row">
          <div class="col-md-2">
            <a href="medico_forms"><button type="button" class="btn btn-primary glyphicon glyphicon-plus-sign"> Novo</button></a>
          </div>
          <div class="col-md-4">
            <div class="input-group">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button">Pesquisar</button>
                </span>
                <input type="text" class="form-control" placeholder="Procurando por...">
              </div><!-- /input-group -->
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
          <br>
            <div class="panel panel-primary">
              <!-- Default panel contents -->
              <div class="panel-heading">Medicos</div>

              <!-- Table -->
              <table class="table">
                  <tr>
                    <th>CRM</th>
                    <th>Nome</th>
                    <th>Especialidade</th>
                  </tr>
                  {%for medico in medicos%}
                  <tr>
                    <td>{{medico.crm}}</td>
                    <td>{{medico}}</td>
                    <td>{{medico.especialidade}}</td> 
                               
                  </tr>
                  {% endfor %}
              </table>
            </div>


          </div>
        </div>

{% endblock %}