{% extends "base.html" %}
{% block titulo %}Pacientes{% endblock %}

{% block conteudo %} 


      <legend>Pacientes</legend>

        <div class="row">
          <div class="col-md-2">
            <a href="paciente_forms"><button type="button" class="btn btn-primary glyphicon glyphicon-plus-sign"> Novo</button></a>
          </div>
          <div class="col-md-4">
            <div class="input-group">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button">Pesquisar</button>
                </span>
                <input type="text" class="form-control" placeholder="Procurando por...">
              </div><!-- /input-group -->
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
          <br>
            <div class="panel panel-primary">
              <!-- Default panel contents -->
              <div class="panel-heading">Pacientes</div>

              <!-- Table -->
              <table class="table">
                  <tr>
                    <th>CPF</th>
                    <th>Nome</th>
                    <th>Data de nascimento</th>
                  </tr>
                  {%for paciente in pacientes%}
                  <tr>
                    <td>{{paciente.cpf_paciente}}</td>
                    <td>{{paciente}}</td>
                    <td>{{paciente.data_de_nascimento}}</td> 
                                  
                  </tr>
                  {% endfor %}
              </table>
            </div>


          </div>
        </div>

{% endblock %}